grpc:
  server:
    port: 9091
  client:
    local-spring-server:
      address: 'static://127.0.0.1:9090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    cloud-spring-service:
      address: 'discovery:///server-app'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    local-nest-server:
      address: 'static://localhost:9092'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
spring:
  application:
    name: client-app
  cloud:
    consul:
      host: localhost
      port: 8500